Repository unitaryfoundation/jeff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: sh -c 'cd impl && uv run ruff format'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: sh -c 'cd impl && uv run ruff check --fix --exit-non-zero-on-fix'
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: sh -c 'cd impl && uv run mypy .'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: sh -c 'cd impl && cargo fmt --all'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: sh -c 'cd impl && cargo check --all --all-features --workspace'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: sh -c 'cd impl && cargo test --all-features --workspace'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: sh -c 'cd impl && cargo clippy --all-targets --all-features --workspace -- -D warnings'
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "cd impl && RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c 'cd impl && uv run pytest'
  language: system
  pass_filenames: false

chore: Add crate description
  impl/rs/Cargo.toml
Due: none

feat!: Cleanup qubit ops definitions, and improve the docs
  impl/rs/src/reader/optype.rs
  impl/rs/src/reader/optype/qubit.rs
  impl/rs/src/reader/optype/qubit/pauli.rs
  impl/rs/src/reader/optype/qubit/well_known.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(rs)!: Split `Value` into hyperedge values and function i/o
  impl/rs/src/reader.rs
  impl/rs/src/reader/function.rs
  impl/rs/src/reader/op.rs
  impl/rs/src/reader/optype.rs
  impl/rs/src/reader/optype/control_flow.rs
  impl/rs/src/reader/region.rs
  impl/rs/src/reader/value.rs
  impl/rs/src/reader/value/function_io.rs
  impl/rs/src/reader/value/wire_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Cleanup qubit ops definitions, and improve the docs (#1)
  impl/rs/Cargo.toml
  impl/rs/src/reader/optype.rs
  impl/rs/src/reader/optype/qubit.rs
  impl/rs/src/reader/optype/qubit/pauli.rs
  impl/rs/src/reader/optype/qubit/well_known.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(rs)!: Split `Value` into hyperedge values and function i/o (#2)
  impl/rs/src/reader.rs
  impl/rs/src/reader/function.rs
  impl/rs/src/reader/op.rs
  impl/rs/src/reader/optype.rs
  impl/rs/src/reader/optype/control_flow.rs
  impl/rs/src/reader/region.rs
  impl/rs/src/reader/value.rs
  impl/rs/src/reader/value/function_io.rs
  impl/rs/src/reader/value/wire_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add custom Python bindings for jeff
  impl/py/.keep
  impl/py/jeff.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add custom Python bindings for jeff (#3)
  impl/py/.keep
  impl/py/jeff.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Invalid For inputs in catalyst->tket example
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
Due: none

feat(rs): Implement Display for jeff types
  impl/rs/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(rs): `GateOp::normalize` to convert custom gates into well-known
  impl/rs/src/reader/optype/qubit.rs
  impl/rs/src/reader/optype/qubit/well_known.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(rs): Implement Display for jeff types (#6)
  impl/rs/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(rs): `GateOp::normalize` to convert custom gates into well-known (#7)
  impl/rs/src/reader/optype/qubit.rs
  impl/rs/src/reader/optype/qubit/well_known.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Invalid For inputs in catalyst->tket example (#5)
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
Due: none

feat(py): Setup python bindings project
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  impl/py/CHANGELOG.md
  impl/py/LICENCE
  impl/py/README.md
  impl/py/pyproject.toml
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/capnp.py
  impl/py/src/jeff/data/jeff.capnp
  impl/py/src/jeff/py.typed
  impl/py/tests/__init__.py
  impl/py/tests/test_reader.py
  impl/rs/.python-version
  justfile
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Add CI checks for python
  .github/actions/check-changes/action.yml
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/ci-schema.yml
Due: none

Disable mypy check for the moment
  .github/actions/check-changes/action.yml
  .github/workflows/ci-py.yml
  .pre-commit-config.yaml
  impl/py/pyproject.toml
  impl/py/src/jeff/__init__.py
  impl/py/tests/test_reader.py
  impl/rs/.python-version
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Update README
  README.md
  docs/images/JEFF_github_logo.png
  docs/images/JEFF_github_logo_inverted.png
Due: none

more
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Update README.md
  README.md
Due: none

feat(py): Setup python bindings project (#8)
  .github/actions/check-changes/action.yml
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/ci-schema.yml
  .pre-commit-config.yaml
  impl/py/CHANGELOG.md
  impl/py/LICENCE
  impl/py/README.md
  impl/py/pyproject.toml
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/capnp.py
  impl/py/src/jeff/data/jeff.capnp
  impl/py/src/jeff/py.typed
  impl/py/tests/__init__.py
  impl/py/tests/test_reader.py
  justfile
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

docs: Update README (#9)
  README.md
  docs/images/JEFF_github_logo.png
  docs/images/JEFF_github_logo_inverted.png
Due: none

Rename images folder, add more assets
  docs/assets/JEFF_github_logo.png
  docs/assets/JEFF_github_logo_inverted.png
  docs/assets/JEFF_logo.svg
  docs/assets/JEFF_logo_inverted.svg
Due: none

Add FAQ
  README.md
  docs/faqs.md
Due: none

Add motivation
  docs/faqs.md
  docs/motivation.md
Due: none

more
  README.md
  docs/faqs.md
Due: none

a bit more motivation
  docs/motivation.md
Due: none

typo
  docs/motivation.md
Due: none

more faqs
  docs/faqs.md
Due: none

Add FAQ
  docs/faqs.md
Due: none

a bit more
  docs/faqs.md
Due: none

spellcheck
  docs/faqs.md
Due: none

Add files via upload
  docs/images/structured-circuit-inverted.png
  docs/images/structured-circuit.png
Due: none

ci: Add sepparate name for 🦀/📜 required checks steps
  .github/workflows/ci-rs.yml
  .github/workflows/ci-schema.yml
Due: none

ci: Add separate name for 🦀/📜 required checks steps (#12)
  .github/workflows/ci-rs.yml
  .github/workflows/ci-schema.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
