Repository unitaryfoundation/jeff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            impl/.release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff check --fix --exit-non-zero-on-fix'
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: sh -c 'cd impl && uv run mypy .'
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: sh -c 'cd impl && cargo fmt --all'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: sh -c 'cd impl && cargo check --all --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: sh -c 'cd impl && cargo test --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: sh -c 'cd impl && cargo clippy --all-targets --all-features --workspace -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "cd impl && RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c 'cd impl && uv run pytest'
        language: system
        files: \.py$
        pass_filenames: false

adding the global phase handling
  tools/jeff-qiskitc/include/jeff_qiskitc.h
  tools/jeff-qiskitc/lib/circuit_converter.cpp
  tools/jeff-qiskitc/lib/circuit_converter.h
  tools/jeff-qiskitc/lib/gate_converter.cpp
  tools/jeff-qiskitc/lib/jeff_qiskitc.cpp
  tools/jeff-qiskitc/tests/circuit_conversion_test.cpp
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
  tools/jeff-qiskitc/tests/test_utils.h
Due: none

style: apply clang-format and cmake-format to jeff-qiskitc
  tools/jeff-qiskitc/lib/circuit_converter.cpp
  tools/jeff-qiskitc/tests/CMakeLists.txt
  tools/jeff-qiskitc/tests/circuit_conversion_test.cpp
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
Due: none

feat(py): read and write a module as bytes
  impl/py/src/jeff/__init__.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor(py): Reorganize Python bindings (#118)
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/bindings.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: point dependabot's cargo updates at the workspace root
  .github/dependabot.yml
Due: none

docs: fix broken links in the READMEs and development guide
  DEVELOPMENT.md
  examples/README.md
  impl/py/README.md
  impl/rs/README.md
Due: none

fix(py): write modules that contain a function declaration
  impl/py/src/jeff/bindings.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): return no default region for a switch read without one
  impl/py/src/jeff/bindings.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(rs): only normalize custom gates whose arity matches
  impl/rs/src/reader/optype/qubit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(rs): implement `HasMetadata` for types with metadata
  impl/rs/src/reader/metadata.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(rs): implement `Clone` for `Jeff`
  impl/rs/src/jeff.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(rs): return no default branch for a switch without one
  impl/rs/src/reader/optype/control_flow.rs
  tools/verifier/tests/positive.rs
  tools/verifier/tests/positive/valid_switch_no_default.jeff
  tools/verifier/tests/positive/valid_switch_no_default.txt
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: point dependabot's cargo updates at the workspace root (#126)
  .github/dependabot.yml
Due: none

docs: fix broken links in the READMEs and development guide (#123)
  DEVELOPMENT.md
  examples/README.md
  impl/py/README.md
  impl/rs/README.md
Due: none

Adapt benchmarks to criterion 0.8
  .github/workflows/ci-rs.yml
  Cargo.toml
  DEVELOPMENT.md
  impl/rs/benches/helper/traits.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(py): write modules that contain a function declaration (#127)
  impl/py/src/jeff/bindings.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): return no default region for a switch read without one (#128)
  impl/py/src/jeff/bindings.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test
