Repository unitaryfoundation/jeff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            impl/.release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff check --fix --exit-non-zero-on-fix'
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: sh -c 'cd impl && uv run mypy .'
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: sh -c 'cd impl && cargo fmt --all'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: sh -c 'cd impl && cargo check --all --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: sh -c 'cd impl && cargo test --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: sh -c 'cd impl && cargo clippy --all-targets --all-features --workspace -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "cd impl && RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c 'cd impl && uv run pytest'
        language: system
        files: \.py$
        pass_filenames: false

Address review feedback: GoogleTest, C++20, Doxygen
  tools/jeff-qiskitc/.clang-format
  tools/jeff-qiskitc/CMakeLists.txt
  tools/jeff-qiskitc/include/jeff_qiskitc.h
  tools/jeff-qiskitc/tests/CMakeLists.txt
  tools/jeff-qiskitc/tests/circuit_conversion_test.cpp
  tools/jeff-qiskitc/tests/file_conversion_test.cpp
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
  tools/jeff-qiskitc/tests/test_utils.h
Due: none

Also update version in pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Add stable benchmark variants
  benchmarks/structured/README.md
  benchmarks/structured/ghz-linear/ghz-linear_3.jeff
  benchmarks/structured/ghz-linear/ghz-linear_5.jeff
  benchmarks/structured/ghz-star/ghz-star_3.jeff
  benchmarks/structured/ghz-star/ghz-star_5.jeff
  benchmarks/structured/grover/grover_3.jeff
  benchmarks/structured/grover/grover_5.jeff
  benchmarks/structured/iqft/iqft_3.jeff
  benchmarks/structured/iqft/iqft_5.jeff
  benchmarks/structured/iqpe/iqpe_3.jeff
  benchmarks/structured/iqpe/iqpe_5.jeff
  benchmarks/structured/multiplexer/multiplexer_3.jeff
  benchmarks/structured/multiplexer/multiplexer_5.jeff
  benchmarks/structured/multiplexer/multiplexer_7.jeff
  benchmarks/structured/qft/qft_3.jeff
  benchmarks/structured/qft/qft_5.jeff
  benchmarks/structured/qpe/qpe_3.jeff
  benchmarks/structured/qpe/qpe_5.jeff
Due: none

Update teleportation benchmark
  benchmarks/structured/README.md
  benchmarks/structured/teleportation/teleportation.jeff
  benchmarks/structured/teleportation/teleportation.qasm
Due: none

Fix typo in format
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix verifier
  tools/verifier/src/passes/type_checks.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add more arithmetic operations (#101)
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
  impl/rs/src/reader/optype/float.rs
  impl/rs/src/reader/optype/int.rs
  tools/verifier/src/passes/type_checks.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Update list of contributors (#104)
  README.md
Due: none

Add remaining structured benchmark programs
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n_3.jeff
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n_5.jeff
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n_7.jeff
  benchmarks/structured/qft-adder-classical/qft-adder-classical_3.jeff
  benchmarks/structured/qft-adder-classical/qft-adder-classical_5.jeff
  benchmarks/structured/qft-adder-classical/qft-adder-classical_7.jeff
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum_3.jeff
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum_5.jeff
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum_7.jeff
  benchmarks/structured/repeat-until-success/repeat-until-success_3.jeff
  benchmarks/structured/repeat-until-success/repeat-until-success_5.jeff
  benchmarks/structured/repeat-until-success/repeat-until-success_7.jeff
Due: none

Replace OpenQASM benchmark references
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n.qc.mlir
  benchmarks/structured/ghz-linear/ghz-linear.qasm
  benchmarks/structured/ghz-linear/ghz-linear.qc.mlir
  benchmarks/structured/ghz-star/ghz-star.qasm
  benchmarks/structured/ghz-star/ghz-star.qc.mlir
  benchmarks/structured/grover/grover.qasm
  benchmarks/structured/grover/grover.qc.mlir
  benchmarks/structured/iqft/iqft.qasm
  benchmarks/structured/iqft/iqft.qc.mlir
  benchmarks/structured/iqpe/iqpe.qasm
  benchmarks/structured/iqpe/iqpe.qc.mlir
  benchmarks/structured/multiplexer/multiplexer.qasm
  benchmarks/structured/multiplexer/multiplexer.qc.mlir
  benchmarks/structured/qft-adder-classical/qft-adder-classical.qc.mlir
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum.qc.mlir
  benchmarks/structured/qft/qft.qasm
  benchmarks/structured/qft/qft.qc.mlir
  benchmarks/structured/qpe/qpe.qasm
  benchmarks/structured/qpe/qpe.qc.mlir
  benchmarks/structured/repeat-until-success/repeat-until-success.qc.mlir
  benchmarks/structured/teleportation/teleportation.qasm
  benchmarks/structured/teleportation/teleportation.qc.mlir
Due: none

Document structured benchmark generation
  benchmarks/_recipes/structured/.keep
  benchmarks/_recipes/structured/generate.py
  benchmarks/structured/README.md
  benchmarks/structured/controlled-multiplication-modulo-n/README.md
  benchmarks/structured/ghz-linear/README.md
  benchmarks/structured/ghz-star/README.md
  benchmarks/structured/grover/README.md
  benchmarks/structured/iqft/README.md
  benchmarks/structured/iqpe/README.md
  benchmarks/structured/multiplexer/README.md
  benchmarks/structured/qft-adder-classical/README.md
  benchmarks/structured/qft-adder-quantum/README.md
  benchmarks/structured/qft/README.md
  benchmarks/structured/qpe/README.md
  benchmarks/structured/repeat-until-success/README.md
Due: ruff-format, ruff-check, mypy-check, py-test

Simplify benchmark generation recipe
  benchmarks/_recipes/structured/generate.py
Due: ruff-format, ruff-check, mypy-check, py-test

Restructure benchmark documentation
  benchmarks/structured/README.md
Due: none

Add inline benchmark recipe dependencies
  benchmarks/_recipes/structured/generate.py
  benchmarks/structured/README.md
Due: ruff-format, ruff-check, mypy-check, py-test

Clarify QC MLIR benchmark references
  benchmarks/structured/README.md
Due: none

Prepare release of `v0.3.1`
  CHANGELOG.md
  examples/python_optimization/python_optimization.ipynb
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
  tools/verifier/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove unused link
  CHANGELOG.md
Due: none

chore: Prepare release of `jeff-v0.3.1` (#108)
  CHANGELOG.md
  examples/python_optimization/python_optimization.ipynb
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
  tools/verifier/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update uv.lock
  .release-please-manifest.json
  uv.lock
Due: none

ci: Fix automatic PyPi publication with trusted publishing
  .github/workflows/python-release.yml
  .github/workflows/release-please.yml
Due: none

Pin mqt-core version
  benchmarks/_recipes/structured/generate.py
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n_3.jeff
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n_5.jeff
  benchmarks/structured/controlled-multiplication-modulo-n/controlled-multiplication-modulo-n_7.jeff
  benchmarks/structured/ghz-linear/ghz-linear_3.jeff
  benchmarks/structured/ghz-linear/ghz-linear_5.jeff
  benchmarks/structured/ghz-linear/ghz-linear_7.jeff
  benchmarks/structured/ghz-star/ghz-star_3.jeff
  benchmarks/structured/ghz-star/ghz-star_5.jeff
  benchmarks/structured/ghz-star/ghz-star_7.jeff
  benchmarks/structured/grover/grover_3.jeff
  benchmarks/structured/grover/grover_5.jeff
  benchmarks/structured/grover/grover_7.jeff
  benchmarks/structured/iqft/iqft_3.jeff
  benchmarks/structured/iqft/iqft_5.jeff
  benchmarks/structured/iqft/iqft_7.jeff
  benchmarks/structured/iqpe/iqpe_3.jeff
  benchmarks/structured/iqpe/iqpe_5.jeff
  benchmarks/structured/iqpe/iqpe_7.jeff
  benchmarks/structured/multiplexer/multiplexer_3.jeff
  benchmarks/structured/multiplexer/multiplexer_5.jeff
  benchmarks/structured/multiplexer/multiplexer_7.jeff
  benchmarks/structured/qft-adder-classical/qft-adder-classical_3.jeff
  benchmarks/structured/qft-adder-classical/qft-adder-classical_5.jeff
  benchmarks/structured/qft-adder-classical/qft-adder-classical_7.jeff
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum_3.jeff
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum_5.jeff
  benchmarks/structured/qft-adder-quantum/qft-adder-quantum_7.jeff
  benchmarks/structured/qft/qft_3.jeff
  benchmarks/structured/qft/qft_5.jeff
  benchmarks/structured/qft/qft_7.jeff
  benchmarks/structured/qpe/qpe_3.jeff
  benchmarks/structured/qpe/qpe_5.jeff
  benchmarks/structured/qpe/qpe_7.jeff
  benchmarks/structured/repeat-until-success/repeat-until-success_3.jeff
  benchmarks/structured/repeat-until-success/repeat-until-success_5.jeff
  benchmarks/structured/repeat-until-success/repeat-until-success_7.jeff
  benchmarks/structured/teleportation/teleportation.jeff
Due: ruff-format, ruff-check, mypy-check, py-test

Add benchmark generation recipe
  benchmarks/structured/README.md
  justfile
Due: none

ci: Fix automatic PyPi publication with trusted publishing (#109)
  .github/workflows/python-release.yml
  .github/workflows/release-please.yml
Due: none

Update justfile
  justfile
Due: none

Pin mqt-core exactly to ensure reproducibility
  benchmarks/_recipes/structured/generate.py
Due: ruff-format, ruff-check, mypy-check, py-test

Improve text flow
  benchmarks/structured/README.md
Due: none

fix(py): read the subkind of an op group that has no union
  impl/py/src/jeff/__init__.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): read the subkind of an op group that has no union (#112)
  impl/py/src/jeff/__init__.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test

adding the chnage for single executable for running all the tests
  tools/jeff-qiskitc/tests/CMakeLists.txt
  tools/jeff-qiskitc/tests/circuit_conversion_test.cpp
  tools/jeff-qiskitc/tests/file_conversion_test.cpp
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
Due: none

correcting the conversion for ppr gate angles b/w jeff and qiskit due to differing conventions
  tools/jeff-qiskitc/lib/circuit_converter.cpp
  tools/jeff-qiskitc/lib/gate_converter.cpp
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
Due: none

explicitly reject symbolic parameter
  tools/jeff-qiskitc/include/jeff_qiskitc.h
  tools/jeff-qiskitc/lib/circuit_converter.cpp
  tools/jeff-qiskitc/lib/gate_converter.cpp
  tools/jeff-qiskitc/lib/gate_converter.h
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
Due: none

adding correct handling for controlled-U gate
  tools/jeff-qiskitc/include/jeff_qiskitc.h
  tools/jeff-qiskitc/lib/circuit_converter.cpp
  tools/jeff-qiskitc/lib/circuit_converter.h
  tools/jeff-qiskitc/lib/gate_converter.cpp
  tools/jeff-qiskitc/lib/gate_converter.h
  tools/jeff-qiskitc/tests/gate_conversion_test.cpp
Due: none

handle the classical bits correctly
  tools/jeff-qiskitc/include/jeff_qiskitc.h
  tools/jeff-qiskitc/lib/circuit_converter.cpp
  tools/jeff-qiskitc/lib/circuit_converter.h
  tools/jeff-qiskitc/lib/jeff_qiskitc.cpp
  tools/jeff-qiskitc/lib/value_map.cpp
  tools/jeff-qiskitc/lib/value_map.h
  tools/jeff-qiskitc/tests/circuit_conversion_test.cpp
  tools/jeff-qiskitc/tests/test_utils.h
Due: none

Move bindings out of package init
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/bindings.py
  impl/py/tests/test_reader.py
Due: ruff-format, ruff-check, mypy-check, py-test
