Repository unitaryfoundation/jeff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            impl/.release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff check --fix --exit-non-zero-on-fix'
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: sh -c 'cd impl && uv run mypy .'
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: sh -c 'cd impl && cargo fmt --all'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: sh -c 'cd impl && cargo check --all --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: sh -c 'cd impl && cargo test --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: sh -c 'cd impl && cargo clippy --all-targets --all-features --workspace -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "cd impl && RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c 'cd impl && uv run pytest'
        language: system
        files: \.py$
        pass_filenames: false

Use static sizes where possible
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
Due: none

Preserve item labels
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Add size information to `qureg`, `intArray`, and `floatArray` types (#52)
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  examples/python_optimization/python_optimization.ipynb
  examples/python_optimization/python_optimization.jeff
  examples/python_optimization/python_optimization.txt
  examples/qubits/qubits.jeff
  examples/qubits/qubits.txt
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/data/jeff.capnp
  impl/py/tests/test_examples.py
  impl/rs/src/capnp/jeff_capnp.rs
  impl/rs/src/jeff.rs
  impl/rs/src/types.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Fix Python type helpers
  impl/py/src/jeff/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Fix Python type helpers (#54)
  impl/py/src/jeff/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

docs: Prepare release of jeff-v0.2.0
  CHANGELOG.md
Due: none

docs: Prepare release of `jeff-v0.2.0` (#55)
  CHANGELOG.md
Due: none

fix: Fix typo in changelog
  CHANGELOG.md
Due: none

fix: Fix typo in changelog (#56)
  CHANGELOG.md
Due: none

feat: add jeff verifier tool
  tools/__init__.py
  tools/verifier/README.md
  tools/verifier/__init__.py
  tools/verifier/__main__.py
  tools/verifier/tests/test_verifier.py
  tools/verifier/verifier.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add jeff verifier package
  tools/verifier/jeff_verifier/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Implement jeff verifier core
  tools/verifier/jeff_verifier/core.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add verifier engine implementation
  tools/verifier/jeff_verifier/engine.py
Due: ruff-format, ruff-check, mypy-check, py-test

Keep verifier core as public wrapper
  tools/verifier/jeff_verifier/core.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add verifier module entrypoint
  tools/verifier/jeff_verifier/__main__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Document verifier usage
  tools/verifier/README.md
Due: none

Add verifier acceptance tests
  tools/verifier/tests/test_verifier.py
Due: ruff-format, ruff-check, mypy-check, py-test

Run Python CI for verifier changes
  .github/change-filters.yml
Due: none

Mark verifier tools as package
  tools/verifier/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Mark tools directory as package
  tools/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Format verifier tests
  tools/verifier/tests/test_verifier.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: fix verifier CI collection
  tools/verifier/jeff_verifier/core.py
  tools/verifier/jeff_verifier/engine.py
  tools/verifier/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add jeff ↔ Qiskit QuantumCircuit converter
  .github/change-filters.yml
  impl/py/pyproject.toml
  tools/qiskit_convert/__init__.py
  tools/qiskit_convert/__main__.py
  tools/qiskit_convert/converter.py
  tools/qiskit_convert/tests/__init__.py
  tools/qiskit_convert/tests/test_converter.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: rewrite Qiskit converter in C++ with capnp + Qiskit C API
  .gitignore
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  tools/qiskit_convert/CMakeLists.txt
  tools/qiskit_convert/__init__.py
  tools/qiskit_convert/__main__.py
  tools/qiskit_convert/converter.py
  tools/qiskit_convert/main.cpp
  tools/qiskit_convert/tests/__init__.py
  tools/qiskit_convert/tests/test_converter.py
Due: ruff-format, ruff-check, mypy-check, py-test

Address PR #64 review: direct linking, data-driven gates, build-time capnp, CI tests
  impl/py/pyproject.toml
  tools/qiskit_convert/CMakeLists.txt
  tools/qiskit_convert/main.cpp
  tools/qiskit_convert/tests/test_qiskit_convert.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: revert auto-generated capnp files to main (use v1.3.0) to fix review comment
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
Due: none

fix: skip qiskit_convert tests if Qiskit not installed (prevents CI failure)
  tools/qiskit_convert/tests/test_qiskit_convert.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: apply ruff format and fix F541 lint in test file
  tools/qiskit_convert/tests/test_qiskit_convert.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add jeff program verification helpers
  impl/rs/src/reader.rs
  impl/rs/src/reader/verify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add verification tool for jeff programs
  .github/change-filters.yml
  Cargo.lock
  Cargo.toml
  tools/verifier/Cargo.toml
  tools/verifier/src/checks/attributes.rs
  tools/verifier/src/checks/isolation.rs
  tools/verifier/src/checks/linearity.rs
  tools/verifier/src/checks/mod.rs
  tools/verifier/src/checks/ssa.rs
  tools/verifier/src/checks/types.rs
  tools/verifier/src/main.rs
  tools/verifier/tests/fixtures/invalid/bad_entrypoint.jeff
  tools/verifier/tests/fixtures/invalid/bad_entrypoint.txt
  tools/verifier/tests/fixtures/invalid/float_precision.jeff
  tools/verifier/tests/fixtures/invalid/float_precision.txt
  tools/verifier/tests/fixtures/invalid/int_bitwidth.jeff
  tools/verifier/tests/fixtures/invalid/int_bitwidth.txt
  tools/verifier/tests/fixtures/invalid/non_linear_qubit.jeff
  tools/verifier/tests/fixtures/invalid/non_linear_qubit.txt
  tools/verifier/tests/fixtures/invalid/type_mismatch.jeff
  tools/verifier/tests/fixtures/invalid/type_mismatch.txt
  tools/verifier/tests/fixtures/invalid/use_before_def.jeff
  tools/verifier/tests/fixtures/invalid/use_before_def.txt
  tools/verifier/tests/integration.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Address PR #66 review: entrypoint check, linearity leak detection, test coverage, doc fix
  tools/verifier/src/checks/attributes.rs
  tools/verifier/src/checks/linearity.rs
  tools/verifier/src/main.rs
  tools/verifier/tests/fixtures/invalid/float_mul_mismatch.jeff
  tools/verifier/tests/fixtures/invalid/float_mul_mismatch.txt
  tools/verifier/tests/fixtures/invalid/float_precision.jeff
  tools/verifier/tests/fixtures/invalid/float_precision.txt
  tools/verifier/tests/fixtures/invalid/int_bitwidth.jeff
  tools/verifier/tests/fixtures/invalid/int_sub_bitwidth.jeff
  tools/verifier/tests/fixtures/invalid/int_sub_bitwidth.txt
  tools/verifier/tests/fixtures/invalid/leaked_qubit.jeff
  tools/verifier/tests/fixtures/invalid/leaked_qubit.txt
  tools/verifier/tests/fixtures/invalid/no_entrypoint.jeff
  tools/verifier/tests/fixtures/invalid/no_entrypoint.txt
  tools/verifier/tests/fixtures/invalid/non_linear_qubit.jeff
  tools/verifier/tests/fixtures/invalid/non_linear_qubit.txt
  tools/verifier/tests/fixtures/invalid/region_escape.jeff
  tools/verifier/tests/fixtures/invalid/region_escape.txt
  tools/verifier/tests/fixtures/invalid/type_mismatch.jeff
  tools/verifier/tests/fixtures/invalid/type_mismatch.txt
  tools/verifier/tests/fixtures/invalid/use_before_def.jeff
  tools/verifier/tests/fixtures/invalid/use_before_def.txt
  tools/verifier/tests/fixtures/valid/basic.jeff
  tools/verifier/tests/fixtures/valid/basic.txt
  tools/verifier/tests/integration.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Address PR #64 review: use shared capnp, qubit allocs, cleaner CLI and tests
  tools/qiskit_convert/CMakeLists.txt
  tools/qiskit_convert/main.cpp
  tools/qiskit_convert/tests/conftest.py
  tools/qiskit_convert/tests/test_qiskit_convert.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add bidirectional jeff to Qiskit C API converter
  pyproject.toml
  tools/qiskit_convert/.cache/clangd/index/main.cpp.AF9FA06E3BFB0419.idx
  tools/qiskit_convert/.cache/clangd/index/qiskit_jeff.cpp.EAFA5E775EB16198.idx
  tools/qiskit_convert/.cache/clangd/index/qiskit_jeff.h.5FD9BDCE4EF9FE68.idx
  tools/qiskit_convert/.cache/clangd/index/qiskit_jeff_pyext.cpp.CE3CA73FB4A4017F.idx
  tools/qiskit_convert/.gitignore
  tools/qiskit_convert/CMakeLists.txt
  tools/qiskit_convert/main.cpp
  tools/qiskit_convert/qiskit_jeff.cpp
  tools/qiskit_convert/qiskit_jeff.h
  tools/qiskit_convert/qiskit_jeff_pyext.cpp
  tools/qiskit_convert/tests/test_qiskit_convert.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove .cache from git
  tools/qiskit_convert/.cache/clangd/index/main.cpp.AF9FA06E3BFB0419.idx
  tools/qiskit_convert/.cache/clangd/index/qiskit_jeff.cpp.EAFA5E775EB16198.idx
  tools/qiskit_convert/.cache/clangd/index/qiskit_jeff.h.5FD9BDCE4EF9FE68.idx
  tools/qiskit_convert/.cache/clangd/index/qiskit_jeff_pyext.cpp.CE3CA73FB4A4017F.idx
  tools/qiskit_convert/.gitignore
Due: none

chore: add encode_tests.sh helper script
  tools/verifier/tests/encode_tests.sh
Due: none

Add verifier negative tests
  impl/rs/src/reader/verify.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: refactor type_checks and fix example bitwidth mismatches
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  tools/verifier/src/errors.rs
  tools/verifier/src/passes/type_checks.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: address PR #64 review round 2 — text-format round-trip, comprehensive gate tests
  tools/qiskit_convert/main.cpp
  tools/qiskit_convert/tests/conftest.py
  tools/qiskit_convert/tests/test_qiskit_convert.py
Due: ruff-format, ruff-check, mypy-check, py-test
