Repository unitaryfoundation/jeff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            impl/.release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            impl/rs/.*/.*_capnp\.rs|
            impl/cpp/.*/capnp/jeff\.capnp\.(h|c\+\+)|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: sh -c 'cd impl && uv run ruff check --fix --exit-non-zero-on-fix'
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: sh -c 'cd impl && uv run mypy .'
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: sh -c 'cd impl && cargo fmt --all'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: sh -c 'cd impl && cargo check --all --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: sh -c 'cd impl && cargo test --all-features --workspace'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: sh -c 'cd impl && cargo clippy --all-targets --all-features --workspace -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "cd impl && RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c 'cd impl && uv run pytest'
        language: system
        files: \.py$
        pass_filenames: false

test: Check python notebooks with pytest
  .github/change-filters.yml
  impl/py/tests/test_examples.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix relative paths
  examples/python_optimization/python_optimization.ipynb
  impl/py/tests/test_examples.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Check python notebooks with pytest (#25)
  .github/change-filters.yml
  examples/python_optimization/python_optimization.ipynb
  impl/py/tests/test_examples.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Fix lints in example notebooks, and enable ci checks
  .github/workflows/ci-py.yml
  .pre-commit-config.yaml
  examples/python_optimization/python_optimization.ipynb
  justfile
Due: none

fix ci change filters
  .github/change-filters.yml
Due: none

chore: Run ruff check on example notebooks (#23)
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  .pre-commit-config.yaml
  examples/python_optimization/python_optimization.ipynb
  justfile
Due: none

Fix examples
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
Due: none

feat: Semver versioning for the jeff format
  Cargo.lock
  Cargo.toml
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_qs/entangled_qs.jeff
  examples/python_optimization/python_optimization.ipynb
  examples/python_optimization/python_optimization.jeff
  examples/qubits/qubits.jeff
  impl/capnp/cpp_namespace.patch
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/Cargo.toml
  impl/rs/src/capnp/jeff_capnp.rs
  impl/rs/src/jeff.rs
  impl/rs/src/lib.rs
  impl/rs/src/reader/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

s/mayor/major/ 🤦
  DEVELOPMENT.md
  impl/capnp/jeff.capnp
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/reader/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add semver support on python lib, and update examples
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  examples/python_optimization/python_optimization.ipynb
  examples/python_optimization/python_optimization.jeff
  examples/python_optimization/python_optimization.txt
  examples/qubits/qubits.jeff
  examples/qubits/qubits.txt
  impl/py/pyproject.toml
  impl/py/src/jeff/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Semver versioning for the jeff format (#41)
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  examples/python_optimization/python_optimization.ipynb
  examples/python_optimization/python_optimization.jeff
  examples/python_optimization/python_optimization.txt
  examples/qubits/qubits.jeff
  examples/qubits/qubits.txt
  impl/capnp/cpp_namespace.patch
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/pyproject.toml
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/Cargo.toml
  impl/rs/src/capnp/jeff_capnp.rs
  impl/rs/src/jeff.rs
  impl/rs/src/lib.rs
  impl/rs/src/reader/module.rs
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: Fix schema-checks ci not running, and update to capnp 1.3.0
  .github/actions/check-changes/action.yml
  .github/change-filters.yml
  .github/workflows/ci-rs.yml
  .github/workflows/ci-schema.yml
  DEVELOPMENT.md
Due: none

Ensure we're using capnp 1.3.0 to generate bindings
  impl/cpp/src/capnp/jeff.capnp.h
Due: none

Fix examples
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.txt
Due: none

Fix numQubits
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.txt
Due: none

Fix qubits example
  examples/qubits/qubits.txt
Due: none

Fix value types
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.txt
Due: none

Update binaries after rebase
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_qs/entangled_qs.jeff
  examples/qubits/qubits.jeff
Due: none

chore: Enforce capnp version 1.3.0, fix CI checks (#43)
  .github/actions/check-changes/action.yml
  .github/change-filters.yml
  .github/workflows/ci-rs.yml
  .github/workflows/ci-schema.yml
  DEVELOPMENT.md
  impl/cpp/src/capnp/jeff.capnp.h
Due: none

Update generated files
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add format CHANGELOG
  CHANGELOG.md
  impl/capnp/jeff.capnp
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

docs: Add a format CHANGELOG (#44)
  CHANGELOG.md
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fix examples (#40)
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  examples/qubits/qubits.jeff
  examples/qubits/qubits.txt
Due: none

uv sync
  uv.lock
Due: none

Update notebook snapshots
  examples/python_optimization/python_optimization.ipynb
Due: none

Remove mention of protobuf directory
  impl/README.md
Due: none

Change order of inputs to insertIndex and insertSlice
  .pre-commit-config.yaml
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/python_optimization/python_optimization.ipynb
  impl/capnp/jeff.capnp
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
  pyproject.toml
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc: Streamline capitalization and stylization of jeff
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  benchmarks/structured/README.md
  docs/faqs.md
  docs/motivation.md
  docs/spec.md
  examples/README.md
  examples/catalyst_simple/README.md
  examples/catalyst_tket_opt/README.md
  examples/python_optimization/README.md
  impl/README.md
  impl/py/CHANGELOG.md
  impl/py/README.md
  impl/rs/README.md
  rfcs/0000-template.md
  rfcs/README.md
  rfcs/text/0032-structured-benchmark-programs.md
Due: none

fix!: Fix order of inputs to `insertIndex` and `insertSlice` (#50)
  .pre-commit-config.yaml
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/python_optimization/python_optimization.ipynb
  impl/README.md
  impl/capnp/jeff.capnp
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
  pyproject.toml
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add size information to qureg, intArray, and floatArray types
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  examples/python_optimization/python_optimization.ipynb
  examples/python_optimization/python_optimization.jeff
  examples/qubits/qubits.jeff
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/__init__.py
  impl/py/src/jeff/data/jeff.capnp
  impl/py/tests/test_examples.py
  impl/rs/src/capnp/jeff_capnp.rs
  impl/rs/src/types.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Format benchmarks/structured/README.md with prettier
  benchmarks/structured/README.md
Due: none

Display length information
  examples/python_optimization/python_optimization.ipynb
  impl/py/src/jeff/__init__.py
  impl/rs/src/types.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

docs: Streamline capitalization and stylization of `jeff` (#51)
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  benchmarks/structured/README.md
  docs/faqs.md
  docs/motivation.md
  docs/spec.md
  examples/README.md
  examples/catalyst_simple/README.md
  examples/catalyst_tket_opt/README.md
  examples/python_optimization/README.md
  impl/README.md
  impl/py/CHANGELOG.md
  impl/py/README.md
  impl/rs/README.md
  rfcs/0000-template.md
  rfcs/README.md
  rfcs/text/0032-structured-benchmark-programs.md
Due: none

Bump minor version
  examples/catalyst_simple/catalyst_simple.jeff
  examples/catalyst_simple/catalyst_simple.txt
  examples/catalyst_tket_opt/catalyst_tket_opt.jeff
  examples/catalyst_tket_opt/catalyst_tket_opt.txt
  examples/entangled_calls/entangled_calls.jeff
  examples/entangled_calls/entangled_calls.txt
  examples/entangled_qs/entangled_qs.jeff
  examples/entangled_qs/entangled_qs.txt
  examples/python_optimization/python_optimization.ipynb
  examples/python_optimization/python_optimization.jeff
  examples/python_optimization/python_optimization.txt
  examples/qubits/qubits.jeff
  examples/qubits/qubits.txt
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/cpp/src/capnp/jeff.capnp.h
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
  impl/rs/src/jeff.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve implementation of __eq__()
  impl/py/src/jeff/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Improve documentation
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Streamline docstrings
  impl/capnp/jeff.capnp
  impl/cpp/src/capnp/jeff.capnp.c++
  impl/py/src/jeff/data/jeff.capnp
  impl/rs/src/capnp/jeff_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve type representations
  examples/python_optimization/python_optimization.ipynb
  impl/py/src/jeff/__init__.py
  impl/rs/src/types.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test
